@page "/"
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

<div class="main">
    <h1>Blazzing Pizzas</h1>
    <ul class="pizza-cards">
        @if (sPizzas is not null)
        {
            @foreach (var sPizza in sPizzas)
            {
                <li @onclick="@(() => ShowConfigureDialog(sPizza))" style="background-image: url('@sPizza.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@sPizza.Name</span>
                        @sPizza.Description
                        <span class="price">@sPizza.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (showingConfiguringDialog)
{
    <ConfigurePizzaDialog Pizza="configuringPizza"/>
}

@code {
    List<PizzaSpecial> sPizzas = new();
    Pizza configuringPizza;
    bool showingConfiguringDialog;

    protected override async Task OnInitializedAsync()
    {
        sPizzas = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }

    void ShowConfigureDialog (PizzaSpecial special)
    {
        configuringPizza = new Pizza()
        {
            Special = special,
            SpecialId = special.Id,
            Size = Pizza.DefaultSize
        };

        showingConfiguringDialog = true;
    }
}
		

