@page "/"
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;
@using BlazingPizza.Services;
@inject OrderState OrderState;

<div class="main">
    <h1>Blazzing Pizzas</h1>
    <ul class="pizza-cards">
        @if (sPizzas is not null)
        {
            @foreach (var sPizza in sPizzas)
            {
                <li @onclick="@(() => OrderState.ShowConfiguringPizzaDialog(sPizza))" style="background-image: url('@sPizza.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@sPizza.Name</span>
                        @sPizza.Description
                        <span class="price">@sPizza.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (OrderState.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog 
      Pizza="OrderState.ConfiguringPizza"
      OnCancel="OrderState.CancelConfiguringPizzaDialog"
      OnConfirm="OrderState.ConfirmConfigurePizzaDialog"/>
}

@code {
    List<PizzaSpecial> sPizzas = new();

    protected override async Task OnInitializedAsync()
    {
        sPizzas = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }
}
		

